@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 60px;
  overflow-x: hidden;
  margin: 20px;
}


